.root {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

.banner {
  padding: 8px 12px;
  color: var(--vscode-descriptionForeground);
}

.graph {
  height: 100%;
  border-top: 1px solid var(--vscode-panel-border);
}
